/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html, body
{
    font: 12px Verdana, Arial, Helvetica;    
    margin: 0;
    background:url(images/bg.png) repeat;
    height: 100%;
    position: relative;
    min-width: 1260px;
}

p {line-height: 1.6em;}

ul { margin: 0;padding: 0;list-style-type: none;}

header,
footer,
nav,
section {
    display: block;
}

.ui-datepicker-trigger:hover { cursor: pointer;}
#holder { margin: 0 auto;max-width: 1280px;min-width: 960px;padding-bottom: 50px;}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    font-family: Verdana;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px #fff;
    font-size: 1.1em;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 3px;
    margin-top: 0;
}

h3:after {
        background:url(images/h3_bg_line.png) repeat-x 0 70%; /* Can insert any pattern. Current - 1px black pixel */
		content:"";													
		display: inline-block;		
		height: 20px; /* need to set height of h3 */
		margin-left: 10px;
		margin-right: 10px;
		width:10000px;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

.dialog-filters { overflow: hidden;}
.filter-type { color: #000;font-weight: bold;font-size: 13px;
                padding: 5px 10px 0 0;
               font-weight: bold;text-transform: none;padding-right: 10px;border: none;float: left;}

/* ALERT POPUP   
----------------------------------------------------------*/

.capsedL { position: absolute;top: -35px;left: 20px;z-index: 5;padding: 5px;display: inline-block;
    font-weight: bold;color: #fff;border-radius: 5px;
           background: rgba(255,0,0, 0.8);border: 1px solid #fff;box-shadow: 0 0 3px rgba(0,0,0,0.5);}

.time-error-message { color: red;text-align: center;font-weight: bold;}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

header {
    position: relative;
    margin: 0;
    padding: 0;
    background: #2d2d2d;
    overflow: hidden;
    height: 35px;
}

.head-wrapper { max-width: 1280px;min-width: 960px;margin: 0 auto;}
.head-wrapper li { float: left;}
.head-wrapper li.li-menu { width: 900px;}
.head-wrapper li.li-history { width: 210px;text-align: center;}
.head-wrapper li.li-image { width: 120px;float: right;}
#subWrapper { height: 95px;border-bottom: 1px solid #2D2D2D;margin-bottom: 32px;position: relative;}
#subWrapper .head-wrapper { height: 70px;background: url(images/logo.png) 5px 0 no-repeat;margin: 10px auto;padding: 0 5px;}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main { margin: 0 5px; }

#pageWrapper { min-height: 100%;}

footer, #footer { margin: -30px auto 0 auto;position: relative;max-width: 1270px;}
footer a { font-size: 12px;color: #1F78C5;margin-right: 30px;text-decoration: none;}
#copyLink { float: right;color: #5e5e5e;margin: 0;}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu, ul#subMenu 
{
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}
ul#subMenu { margin: 30px 0 0 200px;}
ul#subMenu li:last-child { margin-right: 0px;}

ul#menu li, ul#subMenu li { float: left;margin-right: 20px;position: relative;}
ul#subMenu > li {margin-right: 10px;padding: 5px 0;}
ul#menu a { font-size: 1.1em; color: #a0a0a0;text-decoration: none;font-weight: bold;}
ul#subMenu li a, .addNewUser {color: #1F78C5; margin-right: 25px; text-shadow: 1px 1px 0 white;text-decoration: none; padding: 5px;display: block;}
ul#subMenu > li > a.category-link { padding-right: 25px;height: 16px;background: url(images/icon16_extensible.png) 100% 4px no-repeat;padding-top: 3px;padding-bottom: 3px;}
ul#subMenu > li:hover > a.category-link , .addNewUser:hover { color: #f37021;background-position: 100% -12px;}
ul#subMenu > li > a.category-link.active { background-position: 100% -28px;color: #000;}
ul#subMenu li a.active {color: #000000; cursor: text; font-weight: bold; text-decoration: none;}
ul#menu a:hover, ul#menu a.active { color: #fff;}

ul#subMenu li a.disabledTab { text-decoration: none;color: #666;}
ul#menu a.keyRestricted {color: #666;}
ul#menu a.noAccess, #subMenu a.noAccess {color: orange !important;border: none;}
.addNewUser {display: inline-block; margin: 30px 0 0 200px;}

#subMenu ul, ul#menu ul { display: none;}
#subMenu li:hover ul, #menu li:hover ul { display: block;}
#subMenu li > ul {width: 210px;position: absolute;left: 5px;top: 30px;padding: 5px 0;background: #fff;border-radius: 7px;box-shadow: 0 2px 5px rgba(0,0,0,0.5);}
#subMenu li > ul a {width: 180px;padding: 5px 15px;font-size: 12px;color: #000;}
#subMenu li > ul a span { border-bottom: 1px dashed #000;}
#subMenu li > ul a:hover span, #subMenu li > ul a.active span { border: none;}
#subMenu li > ul > li:hover a { color: #000;}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
    resize: none;
}

select {
    border: 1px solid #a0a0a0;
    padding: 2px;
    font-size: 1.2em;
    color: #444;   
}

/*
.select-wrapper {
   width: 175px;
   height: 28px;
   overflow: hidden;
   background: url(images/icon28_select.png) no-repeat 0 0 #fff;
   border: 1px solid #A0A0A0;
   display: inline-block;
   position: relative;
   float: left;
    margin: 0 10px 1px 0;
    box-shadow: 0 1px 0 white;
}

.select-wrapper:before {content: "";position: absolute;top: 0;right: 0;width: 5px;height: 28px;background: #fff;z-index: 1;}
.select-wrapper.disabled:before, .select-wrapper.disabled  {background-color: #eee;}
.select-wrapper.disabled.changed-field:before, .select-wrapper.disabled.changed-field  {background-color: #A8DAA2;}
.select-wrapper.ie-case { margin-right: 4px;}

.select-wrapper.small { width: 65px;}
.select-wrapper.small select {width: 90px;}

.select-wrapper.midium {width:110px;}
.select-wrapper.midium select { width: 135px;}

.select-wrapper.midium-1 {width:130px;}
.select-wrapper.midium-1 select { width: 155px;}

.select-wrapper.midium-2 {width:150px;}
.select-wrapper.midium-2 select { width: 180px;}

.select-wrapper.large {width:180px;}
.select-wrapper.large select { width: 205px;}

.select-wrapper.large-1 {width:295px;}
.select-wrapper.large-1 select { width: 320px;}

.select-wrapper:hover { background-position: 0 100%;}
.select-wrapper.disabled:hover { background-position: 0 0;}

.select-wrapper select {
   background: transparent;
    background-color: rgba(0, 0, 0, 0);
   width: 200px;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 28px;
   -webkit-appearance: none;
    padding-left: 28px;
}

.disabledOption .select-wrapper select, .select-wrapper select:disabled { color: #888;}
.disabledOption .select-wrapper,
.disabledOption .select-wrapper:before, .select-wrapper.disabled:before { background-color: #eee;}
.disabledOption .select-wrapper:hover, .select-wrapper.disabled:hover { background-position: 0 0;}
    */
select option[disabled] {
    display: none;
}

.interactive-table .select-wrapper { margin: 0;}
.interactive-table .changed-field td, #listTable .interactive-table .changed-field:nth-child(2n) td,
img.changed-field { background-color: #A8DAA2;border: 1px solid #317f1f; }
label.changed-field { padding: 3px;background-color: #A8DAA2;}
.interactive-table .to-right { text-align: right;}

.afterDropDownContainer { padding: 7px 0 0 0;display: inline;float: left;white-space: nowrap;}

input[type="submit"],
input[type="button"] {
    height: 30px;
    font-size: 1.1em;
    font-weight: bold;
    color: #6D6D6D;
    padding: 4px 6px 7px 30px;
}

input[type="text"], 
input[type="password"], textarea {
    border: 1px solid #a0a0a0;
    font-size: 1.1em;
    height: 26px;
    margin-right: 10px;
    font-family: Verdana, Arial, sans-serif;
    color: #444;
    width: 200px;
    box-shadow: 0 1px 0 white;
}

input[type="text"]:disabled { color: #777777;background-color: rgb(238, 238, 238);}
input[type="text"]:disabled.changed-field { background-color: #a8daa2;}

#dialog input[type="text"], #dialog input[type="password"] { width: 90px;}

/* TABLE
----------------------------------------------------------*/

table 
{
    border-collapse: collapse;
    width: 100%;
}

.table-wrapper.positions { width: auto;}
.table-wrapper.position-levels, .table-wrapper.roles { width: 580px;}
.table-wrapper.currencyClasses { width: 950px;}
.table-wrapper.report-table { width: auto;overflow: auto;}
.table-wrapper.report-table td {border-top: solid 1px #afafaf;}

table td {
    padding: 5px 5px 5px 10px;
    height: 24px;
    border-right: dashed 1px #afafaf;
    border-bottom: solid 1px #afafaf;
    background: #fff;
}

table tr.odd { background: #fff;}
table tr:nth-child(2n) td { background: #f5f5f5;}

table.no-header td { border: none;background: none;}

table td.errorField { padding: 0;}

table th {
    background: none repeat scroll 0 0 #B1B1B1;
    border-right: 1px solid #848484;
    box-shadow: 0 1px 1px white;
    color: #FFFFFF;
    font-weight: bold;
    min-height: 15px;
    padding: 10px 5px 10px 10px;
    text-shadow: 1px 1px #666666;
    width: auto;
    text-align: left;
}
table th:last-child, table td:last-child { border-right: none;}
table tr:last-child td { border-bottom: none;}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: inline-block;
    float: right;
    text-align: right;
    color: #fff;
    padding-bottom: 5px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
    display: block;
    list-style-type: disc;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    padding: 5px;    
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Styles for Payroll section
----------------------------------------------------------*/
#searchEmployee input { float: left;}
#searchEmployee #applyFilters { background-image: url(images/icon16_zoom.png);}

#searchEmployee input[type=submit] {background-image: url(images/icon16_zoom.png);}

td.operation-type-error-td {border-bottom: dashed 1px #afafaf;color: red;text-align: center;}

/*letterGradation
div#letterGradation { float:none;text-align: center;margin-bottom:20px;background: #fff;box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);position: relative;padding-left: 20px;}
#letterGradation a, #letterGradation span { display: inline-block;padding: 6px 11px 6px 12px;color: #1f78c5;font-weight: bold;text-decoration: none;}
#letterGradation a:hover { color: #f37021;}
#letterGradation a.active { color: #000;background: #eee;}
#letterGradation span { color: #888;}
#letterGradation:before, #letterGradation:after {content: "";position: absolute;top: -4px;width: 45px;height: 35px;background: url(images/alp_ukr.png) 0 0 no-repeat;z-index: 1;}
#letterGradation:before {left: 0px;}
#letterGradation:after {right: 0px; width: 12px;background-position: 101% 0;}
    */

/*pagingSection
#pagingSection { background: none;font-size: 11px;}
#pagingSection a { color: #238ce6;padding: 0 7px;}
#pagingSection span {padding: 0 7px;}
#pagingSection a.active, #employeesTable #pagingSection a.active { font-weight: bold;color: #000;text-decoration: none;}
#pagingSection td { border: none;background: #fff;padding: 10px;}
#pagingSection .items-per-page { text-align: right;border-bottom-right-radius: 7px;}
#pagingSection .selected-page { border-bottom-left-radius: 7px;}
#pagingSection .selected-page a { font-size: 15px;text-decoration: none;color: #238ce6;}
#pagingSection .selected-page span { font-size: 15px;color: #666;}
#pagingSection .selected-page input[type="text"] { text-align: center;border: 1px solid #a0a0a0;width: 30px;height: 17px;padding: 0;font-family: Verdana;font-size: 11px;}
    
div.selected-page, div.items-per-page { width: 49%;float: left;text-align: left;}
div.items-per-page { text-align: right;}
    */
/* Styles for individ data page
----------------------------------------------------------*/

.userRoles-data tr td:first-child { font-weight: bold;text-align: right;padding-right:10px;}
.userRoles-data tr td:first-child  { width: 180px;}

#bnSaveAndGo, #bnSave, #sbtNewRate, #sbtChargesAndRetentions, #sbtSalaryAmend { background-image: url(images/icon16_saveBW.png);font-size: 1em;font-family: Verdana;margin-bottom: 10px;margin-top: 20px;}
#bnGo,#clsNewRate, #clsChargesAndRetentions, #clsSalaryAmend  { background-image: url(images/icon16_undoBW.png);font-size: 1em;font-family: Verdana;margin-bottom: 10px;margin-top: 20px;}
#bnSaveAndGo {background-image: url(images/icon16_ok.png)}

#bnSaveAndGo:hover, #bnSave:hover, #sbtNewRate:hover, #clsNewRate:hover { cursor: pointer; }

/**********************  ************************/

.dimmed td { background-color: #f5f5f5;color: #888;}

table tr.temp-errored td { background-color: #f8e6e6;}
table .temp-errored.error-text td { text-align: center;color: red;background-color: #faf3f3;}

.errorList { text-align: center;color: red;margin: 5px 0;}
.errorList td {border-right: none;}
.successList { text-align: center;color: green;margin: 5px 0;}
.successList li { text-align: left;color: blue;margin: 5px 0; font-weight: bold;}

.table-wrapper { border-radius: 7px;width: 720px;overflow: hidden; }

.td-actions span { margin: 0 10px 0 0;}
.td-actions span:hover { background-position: 0 -16px;cursor: pointer;}

.emty-table-row td:last-child, .emty-table-row, .emty-vtable-row { text-align: center;border-bottom: none;}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.errorField { color: red;}
.errorField ul { margin: 0;}

#menu a.disabledTab, #menu a.disabledTab:hover { background: #888;color: #fff;cursor: default;}

#SearchString { width: 130px;}

.userRoles-data td, .userRoles-data tr.even, .userRoles-data tr:nth-child(2n) td { background: none;}


/* payroll page grou actions
----------------------------------------------------------*/

.bw-btn-long, .bw-btn-short { display: inline-block;padding: 6px 6px 4px 30px;border: 1px solid #a0a0a0;float: left;
                  color: #6d6d6d;background: url(images/icon16_massPayroll.png) 7px 0 no-repeat; 
                  text-decoration: none;font-weight: bold;margin-right: 8px;font-family: verdana;font-size: 1.1em;height: 18px;
                  box-shadow: 0 1px 0 white;
                  }
.bw-btn-short { margin-right: 0;padding: 0;margin-left: 5px;height: 28px;width: 30px;overflow: hidden;text-indent: -200px;}                 
.bw-btn-long:hover, .bw-btn-short:hover {border-color:#f37021; background-color: #f37021;color: #fff;background-position: 7px 100%;cursor: pointer;}

.bw-btn-long.disabledBtn, .bw-btn-long.disabledBtn:hover,
.bw-btn-short.disabledBtn, .bw-btn-short.disabledBtn:hover { color: #b5b5b5;border-color: #b5b5b5;background-position: 7px -29px;background-color: transparent;cursor: default;} 
.bw-btn-long.noAccess,.bw-btn-long.noAccess:hover,
.bw-btn-short.noAccess,.bw-btn-short.noAccess:hover { color: #b5b5b5;border-color: orange;background-position: 7px -29px;background-color: transparent;cursor: default;}

/*hiddableControl
#hiddableControl { border-top: 1px solid #888;text-align: center;margin-bottom: 10px;} 
#hiddableControl a {display: inline-block; border: 1px solid #888;position: relative;
    color: #666;font-weight: bold;text-decoration: none;text-shadow: 0 1px #fff;
    background: url(images/filterArrows.png) 30px 0 no-repeat;
    box-shadow: 0 1px 0 0 white;
    border-top: none;padding: 7px 65px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
#hiddableControl > a:hover { background-color: #E0E0E0;}
#hiddableControl a span { position: absolute;top: 0;right: 35px;
                          display: inline-block;height: 100%;width: 16px;text-indent: -200px;overflow: hidden;background: url(images/icon16_pinch.png) 0 -28px no-repeat;}

#hiddableControl a.openedFilters { background-position: 30px 100%;}
    */

/* Duties styles *//*Transaction Types*/

.draggable:hover {cursor: move;}
.draggable.noAccess:hover {cursor: default;}
.draggable.dimmed:hover {cursor: default;}
.draggable.dimmed td, .active-row.dimmed td, tr.dimmed .td { background-color: #f5f5f5;color: #888;}
.interactive-table .ps-name { width: 470px;max-width: 470px;overflow: hidden;}
.interactive-table .ps-isActive { width: 100px;text-align: center;}
.sortable-table td.ps-action {
    background-image: url(images/icon16_draggable.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
}
.sortable-table td.ps-action.noAccess {
    background-image: none;
}

.dimmed td {background-color: #F5F5F5;}
.editor-field td { background: #fff;}

.iconed-button { display: inline-block;width: 16px;height: 16px;overflow: hidden;
                            margin-right: 10px;
                             text-indent: 200px;background: url(images/icon16_pluswhite.png) 0 0 no-repeat;}
.iconed-button:hover { background-position: 0 -16px;cursor: pointer;}
.draggable.dimmed .iconed-button, .draggable.dimmed .iconed-button:hover,
.active-row.dimmed .iconed-button { background-position: 0 100%;cursor: default;}

.iconed-button.history {background-image: url(images/icon16_historywhite.png);}
.iconed-button.history.active {background-position: 0 100%;}

.iconed-button.edit { background-image: url("images/icon16_edit.png");float: left;}
.iconed-button.delete { background-image: url("images/icon16_trash.png");}
.roles .iconed-button.delete {margin-right: 0;}
.iconed-button.copy { background-image: url("images/icon16_copy.png"); }
.iconed-button.save { background-image: url("images/icon16_save.png");}
.iconed-button.close { background-image: url("images/icon16_undo.png");}
.iconed-button.add { background-image: url(images/icon16_apply_orange.png);}
.iconed-button.closePeriod { background-image: url(images/icon16_lock.png); margin-right: 0;}
.iconed-button.openPeriod { background-image: url(images/icon16_unlock.png); margin-right: 0;}

#userName, #roleName { width: 475px;margin: 0;}
.interactive-table .isChecked {
    background-image: url(images/icon16_checked.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.interactive-table .dimmed .isChecked {background-image: url(images/icon16_checkedDimmed.png);}


/*Transaction Types*/
.tabs ul { width: 500px;}
.tabs ul li:first-child { margin-left: 20%;}
.tabs ul li a.disabledTab, .tabs ul li a.disabledTab:hover {
    float: left;
    color: #666;
    margin-right: 25px;
    text-shadow: 1px 1px 0 white;
    text-decoration: none;
    padding: 5px;display: block;
    text-align:center;
    pointer-events: none;
    cursor: default;
    font-weight: bold;
}

.tabs-content {
    width:auto;
    height:500px;
    overflow:hidden;
}

.tabs-content ul {
    list-style: none;
}
.tabs-content ul li {
    width:auto;
    height:500px;
    padding-top: 10px;
}

.tabs {text-align: center;}
.tabs ul {
    display: inline-block;
    list-style: none;
    position: relative;
}

.tabs li { float: left;margin-right: 20px;position: relative;}
.tabs ul li a {
    float: left;
    color: #1F78C5; 
    margin-right: 25px;
    text-shadow: 1px 1px 0 white;
    text-decoration: none;
    padding: 5px;display: block;
    text-align:center;
}
.tabs ul li a.active {
    color: #000000;
    cursor: text;
    font-weight: bold;
    text-decoration: none;
}

.tabs ul li a span { border-bottom: 1px dashed #1F78C5;}
.tabs ul li a.active span { border-bottom: none;}

.ps-action { width: 80px;}
.active-row.draggable { cursor: move;}
.ps-action input { padding: 0;border: 0;margin: 0;display: inline-block;height: 16px;width: 16px;margin-right: 10px;}
.prototypeRow { display: none;}
.prototypeRow input[type=text] { width: 100px;}    

#instanceCreator { display: none;}

/* Custom login form styles */

#login
{
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);  
    width: 400px;
    margin: 0px 0 0 -230px;
    padding: 30px 30px 20px 30px;
    position: relative;
    overflow: hidden;
    left: 50%;
    z-index: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
}

#login:before
{
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}

/*--------------------*/

#login h1
{
    
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal 26px/1 Verdana, Helvetica;
    position: relative;
}


/*--------------------*/

#login fieldset
{
    border: 0;
    padding: 0;
    margin: 0;
}

/*--------------------*/

#login input, #login select
{
    background: #f1f1f1 url(images/login-sprite.png) no-repeat;
    padding: 15px 15px 15px 30px;
    margin: 5px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    position: relative;
    z-index: 1;
    color: #888;
}
#login select {width: 400px;height: 58px;}
#login input.disabled {border: 1px solid #e2e2e2;background-color: #E0E0E0;}
#login select:focus, #login input:focus { background-color: #fff;}

#login #instanceCreator input {background-position: 7px 0;}
#login #instanceCreator select { background-position: 7px 0; color: #888;}
#login #inputs select#instanceSelector { width: 330px;background-position: 7px -150px;
                                        padding: 15px 15px 12px 30px;
                                          color: #888;float: left;margin: 0;}
#login #inputs select#instanceSelector.fire-fox, 
#login #instanceCreator select.fire-fox { padding-top: 19px;}
#login #inputs select:focus { background-color: #fff;}
#login #inputs select option { padding: 5px 5px 5px 30px;}
#login #inputs select .key-dependant { background: url(images/login-sprite.png) 7px -61px no-repeat;}
#login #instanceCreator input#InstanceName { background-position:  7px -150px;}
#login #inputs select:disabled { min-height: 56px;background-color: #E0E0E0;}

.chrome-wrapper { position: relative;overflow: hidden;display: inline-block;}
#login .chrome-wrapper select { background-image: none;color: #a9a9a9;}
.before {
    display: block;
    position: absolute;
    width: 16px; height: 16px;
    top: 24px;left: 7px;
    background: url(images/login-sprite.png) 0 -171px no-repeat;
    z-index: 5;
}
#login #instanceCreator .chrome-wrapper .before { top: 27px;}
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {color: #888;} 


#login #Login, #login #Email, #login #UserFIO, #login #nameOrEmail
{
    background-position: 5px 0, 97% 20px;
}

#login #Password, #login #ConfirmPassword, #login #OldPassword
{
    background-position: 5px -50px, 97% 20px;
}

#login #inputs input:focus
{
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

.register #Login, .register #Email, .register #Password, .register #ConfirmPassword {
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-image: url(images/login-sprite.png),url(images/icon16_screamer.png);
    padding: 15px 15px 15px 30px;
    margin: 5px 0;
    width: 353px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    position: relative;
    z-index: 1;
    color: #888;
}


.add-btn-holder { overflow: hidden;margin-bottom: 5px;position: relative;}

#addInstance {
    display: inline-block;
    width: 58px;
    height: 58px;
    background: url(images/icon58_newcompany.png) 0 0 no-repeat;
    float: right;
}

#addInstance:hover { background-position: 0 100%;cursor: pointer;}

/*--------------------*/
#login #actions
{
    margin: 25px 0 0 0;
}

#login #submit, #login .login-btn, #login #cancel, #login #changePass, #login #restorePass
{
    background: none;
    background-color: #ffb94b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4a779), to(#f37528));
    background-image: -webkit-linear-gradient(top, #f4a779, #f37528);
    background-image: -moz-linear-gradient(top, #f4a779, #f37528);
    background-image: -ms-linear-gradient(top, #f4a779, #f37528);
    background-image: -o-linear-gradient(top, #f4a779, #f37528);
    background-image: linear-gradient(top, #f4a779, #f37528);
    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
   /* text-shadow: 0 1px 0 rgba(255,255,255,0.5);*/
    
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;

    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #fff;
}

#login #changePass,
#login #restorePass { width : 200px}
#login #cancel { float: right}

#login .login-btn { text-align: center;text-decoration: none;padding-top: 8px;height: 27px;margin-right: 15px;margin-top: 20px;}

#login #submit:hover,#submit:focus, #login .login-btn:hover
{		
    background-color: #fddb6f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f37528), to(#f4a779));
    background-image: -webkit-linear-gradient(top, #f37528, #f4a779);
    background-image: -moz-linear-gradient(top, #f37528, #f4a779);
    background-image: -ms-linear-gradient(top, #f37528, #f4a779);
    background-image: -o-linear-gradient(top, #f37528, #f4a779);
    background-image: linear-gradient(top, #f37528, #f4a779);
}	

#login .login-btn.disabled {background: #E0E0E0;border: none;color: #999999;cursor: default;}

#login #submit:active
{		
    outline: none;
   
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#login #submit::-moz-focus-inner
{
  border: none;
}

#login #actions a
{
    color: #3151A2;    
    float: right;
    line-height: 35px;
    margin-left: 10px;
}

#buildInfo { text-align: center;display: inline-block;padding: 5px 0;width: 100%;}

/*--------------------*/

#login #back
{
    display: block;
    text-align: center;
    position: relative;
    top: 60px;
    color: #999;
}

.big_logo {
	background: url(images/big_logo.png) 0 50% no-repeat;
	width:361px;
	height:156px;
	margin:0 auto;
	padding:90px 0 90px 0;
	
}

/*drop menu*/
.topNav{ float: left;}

.loginDiv
{
    float: left;
    margin-top: 9px;
    padding: 0 10px 1px 3px;
}
.settings-button
{
   width: 36px;
   height: 36px;
   overflow: hidden;
   background: url(images/arrow_ex.png) no-repeat 10px 15px #4a4a4a;
   display: inline-block;
   position: relative;
   float: left;
}

.settings-button:hover, .pressed {
	background: url(images/arrow_ex_black.png) no-repeat 10px 15px #fff;
}

a#selectInstance { background: url(images/icon_company_black.png)  no-repeat 0 5px #fff; }
a#changePassword { background: url(images/login-sprite_black.png)  no-repeat  0 -62px #fff; }
a#logOff { background: url(images/exit.png)  no-repeat 0 5px #fff; }


.tool-container {
	background-color: #fff;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
    box-shadow: 0 1px 0 white;
}

.tool-item {
	height: 100%;
	display: block;				
	width: 175px;
	text-align: left;
    margin: 10px 0px;
    padding: 7px 0 0 20px;
    
}

a.tool-item {
    color: #000;
    text-decoration: none;
    margin-left: 15px;

}

.tool-item span {
     border-bottom: 1px dashed #000;
     margin-left: 7px;
}

.tool-item span:hover {
     border-bottom: none;
}

.tool-item:first-child {
	border-top: none;
}

.tool-item:last-child {
	    margin-bottom: 20px;
}

.userRoles-wrapper { border-radius: 7px;width: 450px;overflow: hidden;margin-top: 10px; }
.userRoles-Ok-btn { margin-left: 50%;}

.actions .noAccess { border: 1px solid orange;}
a.noAccess, span.noAccess  { border: 1px solid orange;}
.addNewUser.noAccess, .addNewUser.noAccess:hover { cursor: default;color: orange; border: none;}